<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom px-4 py-2">
  <div class="d-flex align-items-center gap-3">
    <span class="fw-bold text-primary fs-4">ProductApp</span>
    <a routerLink="/products" class="nav-link text-primary">Shop</a>
  </div>

  <div class="ms-auto d-flex align-items-center gap-3">
    <!-- Cart Icon with Dynamic Count -->

    <a routerLink="/products/cart" class="position-relative text-decoration-none text-dark">
      <i class="bi bi-bag fs-5"></i>
      <span *ngIf="cartCount > 0" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
    {{ cartCount }}
  </span>
    </a>


    <!-- Profile -->
    <a routerLink="/products" class="text-dark text-decoration-none">
      <i class="bi bi-person fs-5"></i>
    </a>
  </div>
</nav>
